@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
/* Apply light blue background to the entire page */
body {
    background-image: url('actual_dininghall.jpg');
    background-size: 100% 250%;
    background-repeat: no-repeat;
    height: 100%;
    
}
.food-title {
    text-align: center;  /* Centers the text horizontally */
    text-align: top;
    margin-top: 0;       /* Removes default top margin */
    padding-top: 20px;   /* Adds space at the top of the page */
    font-size: 3em;    /* Makes the title stand out */
    font-weight: bold;   /* Makes the title bold */
    color: #eeac1f;         /* Sets the text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    position: relative;  /* Ensures proper positioning */
    font-family: 'Pirata One', cursive; 
    letter-spacing: 7px;
}