@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
body {
    background-color: lightblue;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: #8f2828;
    border-radius: 10px;
    font-size: 20px;
    position: absolute; /* Enables precise positioning */
}
.food-link{
    top: 500px; 
    left: 1025px;
}
.weekend-link{
    top: 600px;
    left:170px;
}

.study-link{
    top: 1150px; 
    left: 290px;
}

h1 {
    color:pink;
}

.triton-title {
    background-color: #2C2C2C;
    color: rgb(250, 216, 21);
    padding: 20px;
    border-radius: 8px;
    text-align: center;   
    font-family: 'Pirata One', cursive; 
    letter-spacing: 5px;

    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust to ensure exact centering */

}

.triton-title::before,
.triton-title::after {
    content: '';
    position: absolute;
    width: 60px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-size: contain;
    background-repeat: no-repeat;
}

.triton-title::before {
    background-image: url("https://pngtree.com/freepng/cartoon-island-with-coconut-tree-palm-isolated-vector_5691722.html");
    top: -30px; /* Adjust position as needed */
    left: -30px; /* Adjust position as needed */
}

.triton-title::after {
    background-image: url("https://pngtree.com/freepng/cartoon-island-with-coconut-tree-palm-isolated-vector_5691722.html");
    bottom: -30px; /* Adjust position as needed */
    right: -30px; /* Adjust position as needed */
}