@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    background-color: #2B1C24;
    font-family: 'Pirata One', cursive; 
}

.study-spot-heading{
    text-align: top; 
    text-align: center;
    margin-top: 0;       
    padding-top: 20px;   
    font-size: 2.5em;    
    font-weight: bold;   
    color: whitesmoke;    
    position: relative;  
    font-family: 'Permanent Marker', cursive; 
    letter-spacing: 5px;
}

.second-heading {
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
    margin-top: 0; /* Remove top margin */
    margin-bottom: 10px; /* Add some space below the heading */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('option_3.avif');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2; 
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white overlay */
    z-index: -1; 
}

.sticky-note {
    border: 3px solid #800000;
    padding: 10px; 
    margin: 10px auto; 
    width: 80%; 
    background-color: #ffff99; 
    border-radius: 10px; 
    font-family: 'Tillana', cursive; 
    position: relative; 
    transform: rotate(-2deg);
    overflow: visible;
}

.sticky-note::before {
    content: '';
    position: absolute;
    top: -15px; 
    left: 50%;
    transform: translateX(-50%);
    width: 30px; 
    height: 30px; 
    background-image: url('pushpin_2.png'); 
    background-size: cover;
    background-repeat: no-repeat;
}

.button {
    font-family: 'Permanent Marker', cursive; 
    font-size: 1em; 
    padding: 10px; 
    border: 3px solid #800000;  
    border-radius: 10px;
    background-color: #ffff99;
    color: #2B1C24; 
}

.refresh-button {
    font-family: 'Permanent Marker', cursive; 
    font-size: 1em; 
    padding: 10px; 
    border: 3px solid #800000;  
    border-radius: 10px;
    background-color: #ffff99;
    color: #2B1C24;
    margin: 20px auto; 
}

.disclaimer {
    text-align: center;
    font-size: 1em; 
    font-family: 'Permanent Marker', cursive; 
    color: #ed0808; 
    margin: 0 auto 30px auto; 
    background-color: white; 
    padding: 5px; 
    border-radius: 10px; 
    border: 2px solid #800000; 
    display: block;
    width: fit-content;
}

.treasure-box {
    position: absolute;
    top: 5px; 
    right: 15px; 
    width: 40px; 
    height: 35px; 
    background-image: url('weekend-button.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    display: none; 
    z-index: 1;
}